header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(30, 205, 205);
  }
  
  img {
    max-width: 100%;
  }
  
  /* Aqui empieza el codigo css que se utiliza para el indice del footer*/
  .indice {
    display: flex;
    justify-content: space-between;
  }
  
  .indice li {
    list-style: none;
    padding: 10px;
    margin-top: 15px;
  }
  
  .indice a {
    color: black;
    text-decoration: none;
  
  }
  
  .indice :hover {
    color: rgb(239, 14, 239);
  
  }
  
  

  /* Aqui empieza el css del footer de la pagina que se divide en tres partes navegacion, que hacemos y datos*/
footer {
    background-color: black;
    color: white;
  
  }
  
  .contenedor-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
  }
  
  /** El  CSS del apartado de navegacion que lo mas significatico es que le 
  añado un margen y un tamaño concreto dentro del flex*/
  .navegacion {
    flex-basis: 20%;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  
  .navegacion h4 {
    margin-bottom: 20px;
  }
  
  .navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navegacion {
    line-height: 1.5;
  }
  
  .navegacion a {
    color: white;
    text-decoration: none;
  
  }
  
  .indice-footer :hover {
    color: red;
  
  }
  
  /* El CSS de que hacemos que tambien le añado un tamaño de flex concreto*/
  .Pedidos {
    flex-basis: 40%;
    margin-bottom: 40px;
  }
  
  .Pedidos h4 {
    margin-bottom: 20px;
  }
  
  .Pedidos p {
    font-size: 14px;
    text-align: justify;
  }
  
  
  /* El CSS de datos que tambien le añado un tamaño de flex concreto y un margen entre cada dato*/
  .datos {
    flex-basis: 20%;
    margin-bottom: 40px;
    margin-right: 20px;
    line-height: 1.5;
  }
  
  .datos h4 {
    margin-bottom: 20px;
  }
  
  .datos ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .datos li {
    color: white;
    list-style: none;
  
  }
  
  /* El CSS de los derechos de autor que lo pongo en el centro del footer*/
  .derechos {
    margin-top: 25px;
    text-align: center;
  }
  
  .derechos p {
    font-size: 14px;
    margin: 0;
  }

  .empresa-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
  }
  .delete-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    
  }
  
  .delete-form {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    text-align: center;
  }
  
  .delete-form p {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .btn-delete, .btn-cancel {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn-delete {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
  
  .btn-cancel {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
    margin-left: 10px;
  }
  
  .btn-delete:hover, .btn-cancel:hover {
    /* Esto hace que los botones sobresalgan*/
    transform: translateY(-3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  