{% extends "base.html" %}

{% block titulo %}Listado de clientes{% endblock %}

{% block contenido %}

<h2>Menu</h2>
<ul>
<li>
    <a href="{% url 'create_clientes' %}">Crear nuevo cliente</a>
    

</li>
<li>
    <a href="{% url 'listado_clientes' %}">Listado cliente</a>
    

</li>

</ul>
<h2>Listado de Clientes </h2>
{% if listado_clientes %}
<ul>
    {% for cliente in listado_clientes %}
    <li>
        <a href="{% url 'cliente_detail' pk=cliente.id %}">{{ cliente.cif}}</a>
        <a href="{% url 'cliente_delete' pk=cliente.id %}">Borrar</a>
        <a href="{% url 'cliente_edit' pk=cliente.id %}">Editar</a>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay clientes creados.</p>
{% endif %}
{% endblock %}