<!-- <!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
</head>
<body>
    <h1>AJAX Example</h1>

    <form id="formulariologin" onsubmit="buscarEmail(); return false;">
        <div class="form-group">
            <input id="correo" type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <input id="contraseña" type="password" placeholder="Contraseña" class="form-control">
        </div>
        <button id="btnlogin" class="btn btn-success">Entrar</button>
    </form>

    <div id="result"></div>

    <script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>
-->