{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="{% static 'css/pedidos.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Gestor de Empleados{% endblock %}</title>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/grande.js' %}"></script>


</head>
<body>

    <header{% if request.path == '/' %} class="hero-header"{% endif %}>
        <nav class="navbar">
            <div class="navbar-logo">
                <a href="{% url 'index' %}"><img src="{% static 'imagenes/Logo.png' %}" alt="foto logo" width="100" /></a>
            </div>
            <div class="navbar-menu">
                <ul>
                    <li>
                        <a href="{% url 'listado_clientes' %}">Listado clientes</a>
                    </li>
                    <li>
                        <a href="{% url 'listado_pedidos' %}">Listado pedidos</a>
                    </li>
                    <li>
                        <a href="{% url 'listado_componentes' %}">Listado componentes</a>
                    </li>
                    <li>
                        <a href="{% url 'listado_productos' %}">Listado productos</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-tamaño">
                <button id="aumentar-btn" class="button button-primary">Aumentar tamaño</button>
                <button id="disminuir-btn" class="button button-secondary">Disminuir tamaño</button>
            </div>
        </nav>

        {% if request.path == '/' %}
        <div class="hero-image">
            <h1>Deustronic Components S.L.</h1>
            <p class="hero-description">La comodidad en la puerta de tu casa</p>
        </div>
        {% endif %}
    </header>
    <main>
        {% block contenido %}{% endblock %}
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>Acerca de nosotros</h4>
                    <ul class="social-icons">
                        <li><a href="https://es-es.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Enlaces útiles</h4>
                    <ul class="links">
                        <li>
                            <a href="{%url 'listado_clientes' %}">Listado clientes</a>
                        </li>
                        <li>
                            <a href="{% url 'listado_pedidos'  %}">Listado pedidos</a>
                        </li>
                        <li>
                            <a href="{% url 'listado_componentes'  %}">Listado componentes</a>
                        </li>
                        <li>
                            <a href="{%url 'listado_productos' %}">Listado productos</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul class="contact-info">
                        <li><i class="fas fa-map-marker-alt"></i> C/ Madrid, 50 01003 VITORIA - GASTEIZ</li>
                        <li><i class="fas fa-envelope"></i> Deustronic@hotmail.com</li>
                        <li><i class="fas fa-phone"></i> (+34) 945 72 85 33</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <p>Derechos de autor © 2023 MiEmpresa. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="{% static 'js/validar_cif.js' %}"></script>
    <script src="{% static 'js/preciopositivo.js' %}"></script>
    <script src="{% static 'js/validar_preciototal.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
    <script src="{% static 'js/formulariocomponente.js' %}"></script>
</body>

</html>