{% extends "base.html" %}

{% block titulo %}Listado de clientes{% endblock %}

{% block contenido %}

<div class="menu">

    <div class="menu-titulo">
        <h1>Menu</h1>
    </div>
    <div class="menu-contenido">
        <ul>
            <li>
                <a href="{% url 'create_cliente' %}">Crear nuevo cliente</a>


            </li>
            <li>
                <a href="{% url 'listado_clientes' %}">Listado cliente</a>
            </li>

        </ul>
    </div>
</div>

<div class="listado-header">
    <h1>Listado del Cliente</h1>
</div>
<div class="listado-tabla">
    {% if listado_clientes %}
    <table>
        <thead>
            <tr>

                <th>ID</th>
                <th>CIF</th>
                <th>Nombre de empresa</th>
                <th>Dirección</th>
                <th>Datos de contacto</th>
                <th>Ver Detalle</th>


            </tr>
        </thead>

        <tbody>
            {% for cliente in listado_clientes %}
            <tr>

                <td>{{ cliente.id }}</td>
                <td>{{ cliente.cif }}</td>
                <td>{{ cliente.nombre_empresa }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.datos_contacto }}</td>
                <td><a href="{% url 'cliente_detail' pk=cliente.id %}">Detalle</a></td>
                {% endfor %}
            </tr>

            {% else %}
            <p>No hay clientes creados.</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}