{% extends "base.html" %}

{% block titulo %}Listado de componentes{% endblock %}

{% block contenido %}
<div class="listado-header">
    <h1>Listado de Componentes</h1>
</div>
<div class="buscador">
    <form method="GET">
        <input type="text" name="componentes_codigo_referencia" placeholder="Buscar Codigo Refrencia">
        <input type="submit" value="Buscar">
    </form>
</div>
<div class="listado-tabla">
    {% if listado_componentes %}
    <table id="tabla-componentes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo Referencia</th>
                <th>Ver Detalle</th>
                <th>Borrar</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
            {% for componente in listado_componentes %}
            <tr>
                <td>{{ componente.id }}</td>
                <td>{{ componente.componentes_codigo_referencia }}</td>
                <td><button class="detail_button">Detalle</td>
                <td><a class="datos" href="{% url 'componente_delete' pk=componente.id %}">Borrar</a></td>
                <td><a class="datos" href="{% url 'componente_edit' pk=componente.id %}">Editar</a></td>
            </tr>
            {% endfor %}
            <tr id="fila-nueva" style="display: none;"></tr>
        </tbody>
    </table>
    {% else %}
    <p>No hay componentes creados.</p>
    {% endif %}
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="current-page">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
{% endif %}
<div class="crear-componente">
    <a class="crear" href="{% url 'componente_create' %}">Crear nuevo componente</a>
</div>

{% endblock %}