{% extends 'base.html' %}
{% block titulo %} Creacion de componente {% endblock %}
{% block contenido %}
<div class="container">
    <h1>Crear componente</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group" id="id_componentes_codigo_referencia">
            {{ form.componentes_codigo_referencia.label_tag }}
            {{ form.componentes_codigo_referencia }}
        </div>
        <div id="nombremodeloField">
        <div class="form-group">
            {{ form.nombre_modelo.label_tag }}
            {{ form.nombre_modelo }}
        </div>
        <div id="marcaField">
        <div class="form-group">
            {{ form.marca.label_tag }}
            {{ form.marca }}
        </div>
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
{% endblock %}