{% extends "base.html" %}

{% block titulo %} Edit del componente {% endblock %}

{% block contenido %}
<div class="container">
    <h1>Editar Componente "{{ componente.componentes_codigo_referencia }}"</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.componentes_codigo_referencia.label_tag }}
            {{ form.componentes_codigo_referencia }}
        </div>
        <div class="form-group">
            {{ form.nombre_modelo.label_tag }}
            {{ form.nombre_modelo }}
        </div>
        <div class="form-group">
            {{ form.marca.label_tag }}
            {{ form.marca }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}