{% extends 'base.html' %}{% load static %}
{% block titulo %} index {% endblock %}

{% block contenido %}

<article>
    <div class="que-ofrecemos">

        <div class="texto">
            <h1>¿Que ofrecemos?</h1>
            <p>Bienvenido a Deustronic Components S.L., una empresa dedicada a la fabricación de productos electrónicos
                de alta calidad y eficiencia. Nos complace ofrecerles nuestros servicios de desarrollo de aplicaciones a
                medida para la gestión de pedidos y la gestión de su catálogo de productos.

                La aplicación que desarrollaremos para usted le permitirá gestionar de manera eficiente y efectiva su
                catálogo de productos, así como los pedidos realizados por sus clientes. Con nuestra aplicación, podrá
                realizar un seguimiento de los pedidos en tiempo real, asegurando la precisión y la calidad del proceso
                de gestión de pedidos. Además, podrá acceder a informes y estadísticas que le permitirán tomar
                decisiones informadas sobre su negocio.

                En Deustronic Components S.L., creemos en la importancia de trabajar en colaboración con nuestros
                clientes para asegurarnos de que sus necesidades específicas sean atendidas. Por lo tanto, nuestro
                equipo trabajará en estrecha colaboración con usted durante todo el proceso de desarrollo, asegurándonos
                de que la aplicación cumpla con sus requisitos y objetivos.</p>
        </div>
        <div class="imagen">
            <img src="{% static 'imagenes/ordenador.webp'%}" alt="foto componentes" width="455" height="350">
        </div>
    </div>
    <div class="imagen-mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.8018063686654!2d-2.6595286000000002!3d42.8559179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc25f69159117%3A0x95392a3a64869527!2sC.%20Madrid%2C%2050%2C%2001002%20Vitoria-Gasteiz%2C%20%C3%81lava!5e0!3m2!1ses!2ses!4v1682942833751!5m2!1ses!2ses"
            width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
    </div>
</article>
{% endblock %}