{% extends "base.html" %}

{% block titulo %}Listado de pedidos{% endblock %}

{% block contenido %}
<div class="menu">
    <div class="menu-titulo">
        <h1>Menu</h1>
    </div>
    <div class="menu-contenido">
        <ul>
            <li>
                <a href="{% url 'pedido_create' %}">Crear nuevo pedido</a>
            </li>
            <li>
                <a href="{% url 'listado_pedidos' %}">Listado pedido</a>
            </li>

        </ul>
    </div>

</div>

<div class="listado-header">
    <h1>Listado del Pedidos</h1>
</div>
<div class="listado-tabla">
    {% if listado_pedidos %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo Referencia</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Precio Total</th>
                <th>Borrar</th>
                <th>Editar</th>
                <th>Ver Detalle del producto</th>
            </tr>
        </thead>

        <tbody>
            {% for pedido in listado_pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.codigo_referencia }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.cliente}}</td>
                <td>{{ pedido.preciototal}}</td>
                <td><a href="{% url 'pedido_delete' pk=pedido.id %}">Borrar</a></td>
                <td><a href="{% url 'pedido_edit' pk=pedido.id %}">Editar</a></td>
                <td><a href="{% url 'pedido_detail' pk=pedido.id %}">Detalle del producto</a></td>  
            </tr>
            {% endfor %}
            {% else %}
            <p>No hay pedidos creados.</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}