{% extends "base.html" %}

{% block titulo %}Listado de pedidos{% endblock %}

{% block contenido %}
<div class="listado-header">
    <h1>Listado del Pedidos</h1>
</div>
<div class="buscador">
    <form method="GET">
        <input type="text" name="codigo_referencia" placeholder="Buscar por Referencia">
        <input type="submit" value="Buscar">
    </form>
</div>
<div class="listado-tabla">
    {% if listado_pedidos %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo Referencia</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Precio Total</th>
                <th>Producto</th>
                <th>Borrar</th>
                <th>Editar</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in listado_pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.codigo_referencia }}</td>
                <td>{{ pedido.fecha }}</td>
                <td><a class="boton-navegacion"
                        href="{% url 'cliente_detail' pk=pedido.cliente.id %}">{{pedido.cliente}}</a></td>
                <td>{{ pedido.preciototal}}</td>
                <td>{% for producto_pedido in pedido.productopedido_set.all %}
                    {{ producto_pedido.producto_solicitado.nombre }}
                    {% endfor %}
                </td>
                <td><a class="datos" href="{% url 'pedido_delete' pk=pedido.id %}">Borrar</a></td>
                <td><a class="datos" href="{% url 'pedido_edit' pk=pedido.id %}">Editar</a></td>
                <td><a class="datos" href="{% url 'pedido_detail' pk=pedido.id %}">Detalle</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No hay pedidos creados.</p>
            {% endif %}
        </tbody>
    </table>
</div>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="current-page">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
{% endif %}

<div class="crear-pedido">
    <a class="crear" href="{% url 'pedido_create' %}">Crear nuevo pedido</a>
    <a class="crear" href="{% url 'ProductoPedido_create' %}">Añadir productos al pedido</a>
</div>

<button id="aumentar-btn" class="button button-primary">Aumentar tamaño</button>
<button id="disminuir-btn" class="button button-secondary">Disminuir tamaño</button>

{% endblock %}