{% extends 'base.html' %}
{% block titulo %} Detalle del pedido {% endblock %}

{% block contenido %}
<div class="menu">
    <div class="listado-header">
        <h1>Detalle del pedido</h1>
    </div>
    {% if pedido.producto.all %}
    <div class="listado-tabla">
        <table>
            <thead>
                <tr>
                    <th>Producto referencia</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Volver</th>
                </tr>
            </thead>
            {% for producto_pedido in pedido.productopedido_set.all %}
            <tbody>
                <tr>
                    <td>
                        {{ producto_pedido.producto_solicitado.referencia }}
                    </td>
                    <td>
                        {{ producto_pedido.producto_solicitado.nombre }}
                    </td>
                    <td>
                        {{ producto_pedido.cantidad }}
                    </td>
                    <td>
                        {{ producto_pedido.producto_solicitado.precio }}
                    </td>
                    <td><a href="{% url 'listado_pedidos'%}">Volver</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>No hay productos asociados.</p>
    {% endif %}
</div>
{% endblock %}
