{% extends 'base.html' %}
{% block titulo %} Creacion del pedido {% endblock %}
{% block contenido %}
<div class="container">
  <h1>Crear Pedido</h1>

  <form method="post" onsubmit="return validarFormulario()">
    {% csrf_token %}
    <div class="form-group">
      {{ form.codigo_referencia.label_tag }}
      {{ form.codigo_referencia }}
    </div>
    <div class="form-group">
      {{ form.fecha.label_tag }}
      {{ form.fecha }}
    </div>
    <div class="form-group">
      {{ form.cliente.label_tag }}
      {{ form.cliente }}
    </div>
    <div class="form-group" id="id_preciototal">
      {{ form.preciototal.label_tag }}
      {{ form.preciototal }}
    </div>
    <p id="resultprecio" > </p>

    
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  
</div>

{% endblock %}