{% extends 'base.html' %}
{% block titulo %} Detalle del pedido {% endblock %}

{% block contenido %}
<div class="menu">
    <div class="listado-header">
        <h1>Detalle del pedido</h1>
    </div>
    <div class="listado-tabla">
        <table>
            <thead>
                <tr>

                    <th>ID</th>
                    <th>Codigo Referencia</th>
                    <th>Fecha</th>
                    <th>Ciente</th>
                    <th>Cantidad</th>
                    <th>Borrar</th>
                    <th>Editar</th>

                </tr>
            </thead>
            <tbody>
                {% if pedido %}

                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.codigo_referencia }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.cliente}}</td>
                    <td>{{ pedido.cantidad}}</td>
                    <td><a href="{% url 'pedido_delete' pk=pedido.id %}">Borrar</a></td>
                    <td><a href="{% url 'pedido_edit' pk=pedido.id %}">Editar</a></td>

                </tr>

                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}