{% extends 'base.html' %}
{% block titulo %} Detalle del producto {% endblock %}

{% block contenido %}
<div class="menu">
    <div class="listado-header">
        <h1>Detalle del producto</h1>
    </div>
    {% if producto %}
    <div class="listado-tabla">
        <table>
            <thead>
                <tr>
                    <th>Producto referencia</th>
                    <th>Producto precio</th>
                    <th>Producto nombre</th>
                    <th>Producto descripcion</th>
                    <th>Categoria</th>
                    <th>Volver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ producto.referencia }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.nombre}}</td>
                <td>{{ producto.descripcion}}</td>
                <td>{{ producto.categoria}}</td>
                    <td><a class="datos" href="{% url 'listado_productos'%}">Volver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No hay productos asociados.</p>
    {% endif %}
</div>
{% endblock %}
