{% extends "base.html" %}

{% block titulo %}Listado de productos{% endblock %}

{% block contenido %}
<div class="menu">

    <div class="menu-titulo">
        <h1>Menu</h1>
    </div>
    <div class="menu-contenido">
        <ul>
            <li>
                <a href="{% url 'producto_create' %}">Crear nuevo producto</a>


            </li>
            <li>
                <a href="{% url 'listado_productos' %}">Listado producto</a>
            </li>
            <li>
                <a href="{% url 'ProductoPedido_create' %}">Crear Productos Pedidos</a>
            </li>
        </ul>
    </div>


</div>

<div class="listado-header">
    <h1>Listado del Productos</h1>
</div>
<div class="listado-tabla">
    {% if listado_productos %}
    <table>
        <thead>
            <tr>

                <th>ID</th>
                <th>Referencia</th>
                <th>Precio</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Componentes</th>
                <th>Ver Detalle</th>


            </tr>
        </thead>

        <tbody>
            {% for producto in listado_productos %}
            <tr>

                <td>{{ producto.id }}</td>
                <td>{{ producto.referencia }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.nombre}}</td>
                <td>{{ producto.descripcion}}</td>
                <td>{{ producto.categoria}}</td>
                <td>{{ producto.componentes}}</td>
                <td><a href="{% url 'producto_detail' pk=producto.id %}">Detalle</a></td>
                {% endfor %}
            </tr>

            {% else %}
            <p>No hay productos creados.</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}