{% extends 'base.html' %}
{% block titulo %} Creacion del producto {% endblock %}
{% block contenido %}
<div class="container">
    <h1>Actualizar Producto</h1>

    <form method="post" onsubmit="return ActualizarFormularioPrecio() " >
        {% csrf_token %}
        <div class="form-group">
            {{ form.referencia.label_tag }}
            {{ form.referencia }}
        </div>
        <div class="form-group">
            {{ form.precio.label_tag }}
            {{ form.precio }}
        </div>
        <p id="resultadoprecio"> </p>
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>
        <div class="form-group">
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
        </div>
        <div class="form-group">
            {{ form.componentes.label_tag }}
            {{ form.componentes }}
        </div>
        
        
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}