{% extends 'base.html' %}

{% block titulo %}Creacion del producto{% endblock %}

{% block contenido %}
<div class="container">
  <h1>Añadir productos al pedido</h1>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.producto_solicitado.label_tag }}
      {{ form.producto_solicitado }}
    </div>
    <div id="pedidoSolicitadoField">
      <div class="form-group">
        {{ form.pedido_solicitado.label_tag }}
        {{ form.pedido_solicitado }}
      </div>
      <div id="cantidadField" >
        <div class="form-group">
          {{ form.cantidad.label_tag }}
          {{ form.cantidad }}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>



{% endblock %}
